<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.jd.model.mapper.RecordMapper">

	<!-- 初始化商品信息页面后，在浏览记录表上传一条数据，传入用户uid、商品cid、当前系统时间 -->
	<insert id="insertRecord" parameterType="Record">
		insert into record(uid,cid,time)
		values (#{uid},#{cid},#{time})
	</insert>

</mapper>