<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.jd.model.mapper.RecordMapper">

	<!-- 初始化商品信息页面后，在浏览记录表上传一条数据，传入用户uid、商品cid、当前系统时间 -->
	<insert id="insertRecord" parameterType="Record">
		insert into record(uid,cid,time)
		values (#{uid},#{cid},#{time})
	</insert>

	<select id="selectRecord"  parameterType="map"  resultMap="cresult"   >
		select c.imgurl,c.price price,c.name,c.id
		from record r, commodity c
		where  r.cid = c.id
		and r.uid = #{k_uid}
		limit #{k_beginIndex},#{k_pagesize}
	</select>
	
	<resultMap type="Record" id="cresult">
		<result  property="id"   column="id"  />
		<result  property="uid"   column="uid"  />
		<result  property="cid"   column="cid"  />
		<result  property="time"   column="time"  />
		<collection property="commodity" column="cid"  ofType="Commodity"   >
			<result  property="id"   column="id"  />
			<result  property="name"   column="name"  />
			<result  property="price"   column="price"  />
			<result  property="description"   column="description"  />
			<result  property="imgurl"   column="imgurl"  />
			<result  property="imgsrc"   column="imgsrc"  />
			<result  property="shopname"   column="shopname"  />
			<result  property="commentcount"   column="commentcount"  />
			<result  property="salesvolume"   column="salesvolume"  />
			<result  property="shopid"   column="shopid"  />
			<result  property="sid"   column="sid"  />
		</collection>
	</resultMap>       

</mapper>