<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.jd.model.mapper.ShoppingCartMapper">

	<!-- 在购物车表上传一条数据，传入用户uid、商品cid、型号sizeid、颜色colorid、购买数量count、当前系统时间 -->
	<insert id="insertShoppingCart" parameterType="ShoppingCart">
		insert into shoppingcart(uid,cid,sizeid,colorid,count,time)
		values(#{uid},#{cid},#{sizeid},#{colorid},#{count},#{time})
	</insert>

</mapper>